@font-face {
  font-family: "Splatink";
  src: url("./Fonts/Splatink.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-prpl: #5523e9;
  --font-splatink: "Splatink", cursive;
}
